body {
    margin: 0;
    
  }
  
  
  #topNav{
    
    background-color: #050E32;
    color:  white;
    padding: 2%;
    font-size: 125%;
    width: 100%;
    font-style: italic;
    font-family: optima;
    top: 0; left: 0; right: 0;
    position: fixed;
    z-index: 0;
  }
  .floatingcircle{
    left: 0; right: 0; bottom: 0;
    z-index: 1;
  }
  
  #circular{
   
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
   
   
  }
  #circular img{
    border-radius: 2px;
    border:#050E32 ;
    width: 10%;
    height: 5%;
   
  
  }
  .centerresume{
    object-fit: cover;
    
  }
  .centerresume img{
    max-width:100%;
    max-height: 100%;
  }
  
  .container {
    width: 100%;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%) ;
    -webkit-transform: translateX(-50%) ;
    transform: translateX(-30%) ;
  }
  .main{
    position: 'absolute';
    right: 0; bottom: 0;
    left: '0px';
    z-index: 2;
  }
  .backgrounder{
    background-color:#364456 ;
  }
  
  